html, body {
  margin: auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: 0.1em;
}

body {
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  text-align: center;
  color: black;
  margin-top: 10rem;
  font-family: "Times New Roman";
}

.quote {
  text-align: center;
  text-transform:uppercase;
  margin-top: 5%;
  line-height: 2em;
  font-size: 28px;
}
  
.author {
  font-size: 24px;
}
